<h1>Welcome to short.com</h1>
<h3>Please enter your URL here</h3>

<%= form_for @url_detail, remote: true do |f| %>
  <%= f.text_field :long_url, style: 'width: 75%' %>
  <%= f.submit 'Shorten' %>
<% end %>

<div id="shortened-url" class="shortened-url">
</div>
