<h1>Stats</h1>

<% @stats.each do |stat| %>
  <div class="stats">
    <p><%= stat.long_url %></p>
    <p><%= request.host_with_port + '/' + stat.short_url %></p>
    <p><%= "Total Clicks: #{stat.stat_count}" %></p>
    <p><%= "Top Countries: #{top_countries(stat.countries)}" %></p>
  </div>
<% end %>
